<mat-card>
  <mat-card-content>
    <div fxLayout="row wrap" class="cardList" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutAlign="flex-start">
      <app-multiple-winners fxFlex="0 1 calc(50% - 32px)"></app-multiple-winners>
      <app-studios-winners fxFlex="0 1 calc(50% - 32px)"></app-studios-winners>
      <app-producers-longest fxFlex="0 1 calc(50% - 32px)"></app-producers-longest>
      <app-movies-winners fxFlex="0 1 calc(50% - 32px)"></app-movies-winners>
    </div>
  </mat-card-content>
</mat-card>