<mat-card style="width:100%;">
  <mat-card-content>
    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="50%" fxLayoutGap="20px" fxFlexOrder="1">
        <app-multiple-winners></app-multiple-winners>
      </div>
      <div fxFlex="50%" fxLayoutGap="20px" fxFlexOrder="1">
        <app-studios-winners></app-studios-winners>
      </div>
      <div fxFlex="50%" fxLayoutGap="20px" fxFlexOrder="1">
        <app-producers-longest></app-producers-longest>
      </div>
      <div fxFlex="50%" fxLayoutGap="20px" fxFlexOrder="1">
        <app-movies-winners></app-movies-winners>
      </div>
    </div>
  </mat-card-content>
</mat-card>