<mat-card>
    <mat-card-title>Top 3 studios with winners</mat-card-title>
    <mat-card-content>
        <mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="name"> {{row.name}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="winCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Win Count </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="winCount"> {{row.winCount}}% </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[ 10, 25, 100]"></mat-paginator>
    </mat-card-content>
</mat-card>