<mat-card style="width:100%;">
    <mat-card-title>List movie winners by year</mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <input id="app_search_input" matInput type="number" placeholder="Search by year" [(ngModel)]="search_year">
            <mat-icon matSuffix (click)="search()">search</mat-icon>
        </mat-form-field>
        <mat-divider></mat-divider>
        <mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="id"> {{row.id}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="year">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Year </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="year"> {{row.year}}% </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="title"> {{row.title}}% </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[ 10, 25, 100]"></mat-paginator>
    </mat-card-content>
</mat-card>