<mat-sidenav-container>    
    <mat-sidenav position="start" fixedInViewport="true" class="menuTop sidenav" [mode]="'side'" [opened]="true">
        <mat-toolbar color="primary">
            <mat-toolbar-row class="mat-drawer-inner-container">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" fxShow fxHide.xs="false" fxHide.lg="true">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <h1 class="texoIt">Frontend Angular Test</h1>
                <span class="menu-spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-sidenav>
</mat-sidenav-container>
<mat-drawer-container class="drawLeft-container" autosize>
    <mat-drawer #drawer class="drawLeft-sidenav" fxLayout="row" fxLayoutAlign="space-between" fxFlex="250px" fxFlex.xs="250px" mode="push" position="start">
        <mat-nav-list class="">
            <a mat-list-item matTooltip="Dash" class="active" [routerLink]="['/dash']">
                Dash
            </a>
            <a mat-list-item matTooltip="Films" [routerLink]="['/films']">
                Films
            </a>
        </mat-nav-list>
    </mat-drawer>
    <div class="drawLeft-sidenav-content">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>